* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center ;
}
.pop-animation {
  animation: pop 0.2s ease-out;
}
.pop-animation2 {
  animation: pop2 0.2s ease-out;
}

@keyframes pop {
  from {
    scale: 0%;
  }
  to {
    scale: 100%;
  }
}
@keyframes pop2 {
  from {
    scale: 95%;
    opacity: 0.5;
    transform: translateY(20px);
  }
  to {
    scale: 100%;
    opacity: 1;
    transform: translateY(0px);
  }
}